/* CSS Document */

$green: #3DB832;
$copart-blue: #265EBC;
$accent-blue: #0285FA;


h1, h2, h3, h4, p {
	color: white !important;
}

h1 {
	font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 64px;
	line-height: 1em;
}

h2 {
	font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 36px;
	line-height: 1em;
}

h3 {
	font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 24px;
	line-height: 1em;
}

p {
	line-height: 2em;
	max-width: 500px;
}

#about {
	height: 100%;
	min-height: 800px;
	background: rgb(0,0,0);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(38,94,188,1) 100%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(38,94,188,1) 100%);
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(38,94,188,1) 100%);
	
	
	h3 {
		font-size: 56px;
	}
	
	h1 {
		font-size: 120px;
		letter-spacing: 4px;
		margin-bottom: -60px;
		font-weight: 100;
	}
	.background {
		background-image: url("content/car-1-1.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
		min-height: 800px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items:stretch;
		justify-content: space-between;
		align-items:stretch; 
	}
	
	.car-info-left {
		flex: 2;
		order: 1;
		padding-left: 80px;
		align-self: flex-end;
	}
	
	img {
		width: 60%;
	}
	
	.car-info-right {
		flex: 1.25;
		order: 2;
		margin-right: 80px;
		margin-top: 40px;
	}
	
	.navbar {
		width: 100%;
		height: 80px;
		background-image: url("content/navbar.png");
		background-repeat: repeat-x;
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: center;
		order: 3;
		margin-bottom: 0;
		align-self: flex-end;
		
		.view-all {
		background-color: $accent-blue;
		color: white !important;
		border-radius: 6px;
		padding: 12px 120px 12px 120px;
		margin-right: 24px;
		align-self: center;
		position: absolute;
		right: 0;
		font-size: 16px;
		
	}
	}
	
	
	p {
		font-size: 16px;
	}
	
}



.pennzilla {
	height: 100%;
	min-height: 800px;
	background: rgb(0,0,0);
background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(251,201,38,1) 100%);
background: -o-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(251,201,38,1) 100%);
background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(251,201,38,1) 100%);
	overflow: hidden;
	
	.background {
		background-image: url("content/pennzilla-background.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
		min-height: 800px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		align-items:stretch; 
	}
	
	.car-info-left {
		flex: 1;
		order: 1;
		padding-left: 80px;
		align-self: center;
		
	}
	
	.car-info-right {
		flex: 1.5;
		order: 2;
		align-self: center;
		margin-top: -40px;
	}
	
	img {
		width: 85%;
		margin: auto;
		display: block;
	}
	
	.navbar {
		width: 100%;
		height: 80px;
		background-image: url("content/navbar.png");
		background-repeat: repeat-x;
		position: relative;
		bottom: 0%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-content: center;
		align-self: flex-end;
		order: 3;
		margin-bottom: 0;
	}
	
	.bid-now {
		background-color: $green;
		color: white !important;
		border-radius: 6px;
		padding: 12px 40px 12px 40px;
		margin-right: 24px;
		align-self: center;
	}
	
	.view-all {
		background-color: $accent-blue;
		color: white !important;
		border-radius: 6px;
		padding: 12px 120px 12px 120px;
		margin-right: 24px;
		margin-left: 24px;
		align-self: center;
		font-size: 16px;
	}
	
	h1 {
		font-size: 80px;
		line-height: 1.5em;
		letter-spacing: 4px;
		margin-left: -32px;
	}
	
	.year {
			font-size: 300px;
			text-align: center;
			margin-bottom: -200px;
			letter-spacing: 4px;
		}
	
	h2 {
		font-size: 48px;
		letter-spacing: 2px;
	}
	
	p {
		font-size: 18px;
	}
	
	.neon {
  font-family: 'Londrina Outline', cursive;
letter-spacing: 6px;
  text-align: center;
  margin-top: -80px;
  margin-left: -300px;
  font-size: 120px;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px $accent-blue,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
}	
}

.banshee {
	height: 100%;
	min-height: 800px;
	background: rgb(0,0,0);
background: rgb(0,0,0);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(38,94,188,1) 100%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(38,94,188,1) 100%);
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(38,94,188,1) 100%);
	overflow: hidden;
	
	.background {
		background-image: url("content/banshee-background.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
		min-height: 800px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		align-items:stretch; 
	}
	
	.car-info-left {
		flex: 1;
		order: 2;
		align-self: center;
		
	}
	
	.car-info-right {
		flex: 1.5;
		order: 1;
		align-self: center;
		margin-left: 80px;
		margin-top: -40px;
	}
	
	img {
		width: 85%;
		margin: auto;
		display: block;
	}
	
	.navbar {
		width: 100%;
		height: 80px;
		background-image: url("content/navbar.png");
		background-repeat: repeat-x;
		position: relative;
		bottom: 0%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-content: center;
		align-self: flex-end;
		order: 3;
		margin-bottom: 0;
	}
	
	.bid-now {
		background-color: $green;
		color: white !important;
		border-radius: 6px;
		padding: 12px 40px 12px 40px;
		margin-right: 24px;
		align-self: center;
	}
	
	.view-all {
		background-color: $accent-blue;
		color: white !important;
		border-radius: 6px;
		padding: 12px 120px 12px 120px;
		margin-right: 24px;
		margin-left: 24px;
		align-self: center;
		font-size: 16px;
	}
	
	h1 {
		font-size: 80px;
		line-height: 1.5em;
		letter-spacing: 4px;
		margin-left: -32px;
	}
	
	.year {
			font-size: 300px;
			text-align: center;
			margin-bottom: -200px;
			letter-spacing: 4px;
		}
	
	h2 {
		font-size: 48px;
		letter-spacing: 2px;
	}
	
	p {
		font-size: 18px;
	}
	
	.neon {
  font-family: 'Londrina Outline', cursive;
letter-spacing: 6px;
  text-align: center;
  margin-top: -80px;
  margin-left: -300px;
  font-size: 120px;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px $accent-blue,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
}	
}

.ronin {
	background: rgb(0,0,0);
background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(167,178,43,1) 100%);
background: -o-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(167,178,43,1) 100%);
background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(167,178,43,1) 100%);
	
	.background {
		background-image: url("content/ronin-background.png");
		background-size: contain;
	}
}

.mustang {
background: rgb(0,0,0);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(38,94,188,1) 100%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(38,94,188,1) 100%);
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(38,94,188,1) 100%);
	
	.background {
		background-image: url("content/sixty-five-background.png");
		background-size: cover;
	}
}


.roadrunner {
    background: rgb(0,0,0);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(188,107,38,1) 100%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(188,107,38,1) 100%);
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(188,107,38,1) 100%);
	
	.background {
		background-image: url("content/roadrunner-background.png");
		background-size: cover;
	}
}

.belair {
	
	.background {
		background-image: url("content/belair-background.png");
	}
}

.nissan {
	background: rgb(0,0,0);
background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(140,164,204,1) 100%);
background: -o-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(140,164,204,1) 100%);
background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(140,164,204,1) 100%);
	
	img {
		width: 65%;
	}
	
	.car-info-right {
		flex: 1;
	}
	
	.year {
		text-align: left;
	}
	
	h1 {
		margin-left: 0;
	}
	
	.background {
		background-image: url("content/nissan-background.png");
		background-size: contain;
	}
}

.cuda {
	
	.background {
		background-image: url("content/cuda-background.png");
	}
}

@media only screen and (max-width: 1224px) {
	#about {
		max-height: auto !important;
		height: auto;
		
		.car-info-right {
		flex: 2;
		margin-right: 24px;
		margin-bottom: 40px;
	}
		
	}
	
	.pennzilla {
		height: auto;
		max-height: auto !important;
		position: relative;
	}
	
	.banshee {
		height: auto;
		max-height: auto !important;
		position: relative;
		
		p {
			max-width: 400px;
		}
	}
	
}

@media only screen and (max-width: 1024px) {
	#about {
		.background {
			flex-direction: column;
			align-items: center;
		}
		
		h3 {
			text-align: center;
		}
		
		h1 {
			text-align: center;
		}
		
		.car-info-left {
			padding-left: 0;
			align-self: center;
		}
		
		.car-info-right {
			margin-top: -80px;
		}
		
		img {
			width: 65%;
			margin: auto;
			display: block;
		}
		
	}
		.pennzilla {
			height: auto;
			max-height: auto !important;
			
			.background {
				flex-direction: column;
			}
			
			.car-info-left {
				order: 2;
				padding-left: 40px;
				margin-bottom: 40px;
			}
			
			.car-info-right {
				order: 1;
			}
			
			.neon {
				margin-left: 0;
				font-size: 100px;
			}
			
			.year {
				font-size: 200px;
				margin-bottom: -100px;
			}
			
			h1 {
				font-size: 64px;
			}
			
			h2 {
				font-size: 32px;
			}
			
			p {
				font-size: 16px;
			}
			
			img {
				width: 65%
			}
			
		}
		
		.banshee {
			height: auto;
			max-height: auto !important;
			
			.background {
				flex-direction: column;
			}
			
			.car-info-left {
				margin-bottom: 40px;
			}
			
			.car-info-right {
				margin-left: 0;
			}
			.neon {
				margin-left: -150px;
				font-size: 100px;
			}
			
			.year {
				font-size: 200px;
				margin-bottom: -100px;
			}
			
				h1 {
				font-size: 64px;
			}
			
			h2 {
				font-size: 32px;
			}
			
			p {
				font-size: 16px;
			}
			
			img {
				width: 65%;
			}
	}
	
	.nissan {
		.year {
			text-align: center;
		}
		
		img {
			width: 65%;
			margin: auto;
			display: block;
		}
		
		.background {
			background-size: cover;
		}
	}
}

@media only screen and (max-width: 768px) {
	#about {
		h1 {
			font-size: 80px;
		}
		
		h3 {
			font-size: 40px;
		}
		
		.pennzilla {
			.car-info-right {
				width: 80%;
				
				img {
					width: 85%;
					margin: auto;
					display: block;
				}
			}
			
			.view-all {
				padding: 12px 60px 12px 60px;
			}
		}
		
		.banshee {
			img {
				width: 85%;
				margin: auto;
				display: block;
			}
			.view-all {
				padding: 12px 60px 12px 60px;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	#about {
		.car-info-right {
			margin-left: 24px;
		}
		.navbar{
		
		img {
				display: none;
			}
			
			.view-all {
				justify-content: center;
				position: relative;
			}
		}
			
	}
	
	.ronin {
		.background {
			background-size: cover;
		}
	}
	
	.banshee {
		h1 {
			font-size: 56px;
			margin-left: -16px;
		}
		img {
			width: 95%;
		}
		
		.navbar {
			justify-content: center;
		}
	}
	
	
	.pennzilla {
		h1 {
			font-size: 56px;
		}
		img {
			width: 95%;
		}
		
		.navbar {
			justify-content: center;
		}
	}
}

@media only screen and (max-width: 440px) {
	#about {
		.navbar {
			img {
				display: none;
			}
			
			a {
				position: relative;
				margin-right: 0;
			}
			
			.view-all {
				position: relative;
				margin-right: 0;
				
			}
			
		}
		
	}
	
	.ronin {
		h1 {
			margin-left: -24px;
		}
	}
	
	.view-all {
				width: 85%;
				text-align: center;
				padding: 12px 60px 12px 60px !important;
		margin-right: 0;
			}
	
	.pennzilla {
		.year {
			font-size: 180px;
			margin-bottom: -70px;
		}
		
		h1 {
			line-height: 1em;
		}
		
		
		.neon {
			font-size: 60px;
			margin-left: -75px;
			margin-top: -40px;
		}
		
		h1, h2, p {
			padding-left: 16px;
			padding-right: 16px;
		}
		
		.car-info-left {
			padding-left: 24px;
			flex: 2;
		}
		
		.car-info-right {
			margin-top: 0;
			flex: 1;
		}
		
		.navbar {
			justify-content: center;
		}
	}
	
	.banshee {
		.year {
			font-size: 180px;
			margin-bottom: -70px;
		}
		
		.car-info-right {
			margin-left: 0;
			margin-top: 0;
			flex: 1;
		}
		
		.car-info-left{
			padding-left: 24px;
			flex: 2;
		}
		
		
		.neon {
			font-size: 60px;
			margin-left: -75px;
			margin-top: -40px;
		}
		
		h1 {
			line-height: 1em;
			margin-left: 0;
		}
		
		h1, h2, p {
			padding-left: 16px;
			padding-right: 16px;
		}
		
		.navbar {
			justify-content: center;
		}
	}
}